* text=auto

*.bat text eol=crlf
*.ps1 text eol=crlf
*.sln text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.7z binary
*.bin binary
*.hex binary
*.elf binary
*.dll binary
*.exe binary

